vendor/
node_modules/
public/
zone/

!/public/assets/
!/public/css/
!/public/fonts/
!/public/js/
!/public/.htaccess/
!/public/favicon.ico/
!/public/index.php/
!/public/robots.txt/
!/public/web.config/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
