.img-preview {
	height: 55px;
}

/*upload image preview*/
#image-preview {
  /*width: 400px;*/
  height: 400px;
  position: relative;
  border: 1px solid #eee;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 5px;
  color: #ecf0f1;
}
#image-preview input {
  cursor: pointer;
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

/* table live search */
.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }

.span-inline span {
  display: initial;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: white;
}
 
::-webkit-scrollbar-thumb {
    background: #ed215e;
}

.active-episode {
  background: #2098D1;
  color: white;
}

.active-episode .main__watch-suggest-episode a{
  color: white;
}